.principal-login {
    width: 4rem;
    height: 6rem;
}

.principal-register {
    width: 4rem;
    height: 6rem;
}

.principal-title {
    width: 4rem;
    height: 6rem;
}

.principal-aside {
    width: 4rem;
    height: 6rem;
}

.principal-navbar {
    width: 4rem;
    height: 6rem;
}